<html lang="en">
    <head>
        <title>Credit</title>
    </head>
    <body>
        <form action="/confirm" method="post">
            <label>Income</label>
            <input style="width:100px" type="number" step=0.001 id="income" name="income">
            <label>Limit</label>
            <input type="number" id="limit" name="limit">
            <lable>Rating</lable>
            <input type="number" id="rating" name="rating">
            <lable>Student</lable>
            <select style="width:100px" Student="student">
            <option value="value" selected>Select</option> 
            <option value="Yes">yes</option>
            <option vlaues="No">no</option>
            </select>
            <label>Cards</label>
            <input type="number" id="cards" name="cards">
            <input type="submit" value="Predict">
        </form>
    </body>
</html>